@mixin flex($justify: flex-start, $align: flex-start, $wrap: nowrap, $dir: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
    flex-direction: $dir;
}
// Search-box
.search-box,
.search-result {
    width: 361px;
}
.search-box {
    position: relative;
    @include flex(flex-start, stretch);
    height: 46px;
    padding: 12px 16px;
    border-radius: 92px;
    background: rgba(22, 24, 35, 0.06);

    input {
        flex: 1;
        padding-right: 56px;

        font-family: var(--font-family-primary);
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;

        border: none;
        outline: none;
        background: transparent;
        color: rgba(22, 24, 35, 1);
        caret-color: rgba(254, 44, 85, 1);
        &:not(:placeholder-shown) ~ .submit-btn {
            color: rgba(22, 24, 35, 0.75);
        }
    }
    .delete-btn {
        position: absolute;
        right: 52px;
        top: 50%;
        transform: translateY(-50%);

        padding: 0;
        margin: 0 12px;
        font-size: 0;

        border: none;
        outline: none;
        color: rgba(22, 24, 35, 0.34);
    }
    .loadingSpinner {
        position: absolute;
        right: 52px;
        top: 50%;
        transform: translateY(-50%);
        color: rgba(22, 24, 35, 0.34);
        // Animation
        animation: 1s linear 0s infinite normal none running rotating;
    }
    .spliter {
        position: absolute;
        right: 51px;
        top: 50%;
        transform: translateY(-50%);

        height: 28px;
        width: 0.5px;
        background: rgba(22, 24, 35, 0.12);
    }
    .submit-btn {
        cursor: pointer;
        @include flex(center, center);
        padding: 11px 16px 11px 12px;
        margin: -12px -16px;
        border-radius: 0 92px 92px 0;
        border: none;
        outline: none;
        color: rgba(22, 24, 35, 0.34);
        &:hover {
            background: rgba(22, 24, 35, 0.03);
        }
    }

    border: 1px solid transparent;
    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}
.title {
    height: 30px;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}
@keyframes rotating {
    0% {
        transform: translateY(-50%) rotate(0deg);
    }
    100% {
        transform: translateY(-50%) rotate(360deg);
    }
}
