@import 'normalize.css';
@import './fonts.css';
:root {
    // Color
    --color-primary: rgb(254, 44, 85);
    --color-text: rgb(22, 24, 35);
    // Font family
    --font-family-primary: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    --font-family-secondary: SofiaPro, Arial, Tahoma, PingFangSC, sans-serif;
    // Size
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    overflow: overlay;
}
body {
    font-family: var(--font-family-primary);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-text);
}
a {
    display: inline-block;
    text-decoration: none;
    color: var(--color-text);
}
// Customize Tippy
body .tippy-box {
    background-color: rgba(84, 84, 84, 0.92);

    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}
body .tippy-content {
    padding: 8px;
}
body .tippy-arrow {
    color: rgba(84, 84, 84, 0.92);
}
body .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
    top: -8px;
}
// Customize scrollbar
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
