.sidebar {
    width: 35.6rem;
    padding-right: 8px;
}
.wrapper {
    padding: 20px 0 26px;
    padding-left: 8px;
    display: flex;
    flex-direction: column;
}
.section {
    position: relative;
    padding: 16px 0;
    color: rgba(22, 24, 35, 0.75);
    &:before {
        content: '';
        position: absolute;
        left: 8px;
        right: 8px;
        top: 0;
        height: 1px;
        transform: scaleY(0.5);
        background: rgba(22, 24, 35, 0.12);
    }
}

.title {
    padding: 0 8px;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
}
